<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <div class="container">
        <div class="left-img">
            <h1>Required Information</h1>

            <h3>
               Enter or Calculate your insurance
            </h3>
        </div>
        <div id="back">

        </div>
        <div id="form">
            <form action="" method="post">
                <input type="text" placeholder="Name">
                <input type="number" name="ageInput" min="1" id="" placeholder="Age">
                <!-- Gender
                Male: <input type="radio" name="Gender" value="0" id="">
                Female: <input type="radio" name="Gender" value="1" id=""> -->

                <select name="genderInput" id="Gender">
                    <option value="">Gender</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>

                <input type="number" id="insure" name="insured" placeholder="Enter Insurance amount"
                    onchange="grey_out(event)">

                <!-- bmi -->
                <input type="text" name="bmiInput" id="" placeholder="BMI">
                <p>Don't Know your BMI? <a href="/bmiCalc" id="chckbmi" target="_blank">Check Here</a></p>

                <input type="number" name="nocInput" placeholder="Number of Children" min="0" id="">
                <select name="smokeInput" id="smoker">
                    <option value="">Smoker</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>



                <!-- <input type="submit" value="submit"> -->
                <div>
                    <button type="submit">Continue</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    function grey_out(event) {
        let arr = event.target.parentNode.children;
        let array = Array.from(arr);
        let idx = array.indexOf(event.target);
        for (let index = idx + 1; index < arr.length; index++) {
            // const element = arr[index];
            // console.log(arr[index].type, arr[index]);
            if (["text", "select-one", "number"].includes(arr[index].type)) {
                arr[index].disabled = true;
                // console.log(arr[index].placeholder.style)
                arr[index].style.color = "grey";

            }
        }

        
        
        document.getElementById("chckbmi").disabled = true;
        document.getElementById("chckbmi").style.backgroundColor = "grey";
    

    }
</script>

</html>


<!-- <form action="/form" method="post">
    <label>Age</label>
    <input type="number" min="1" name="ageInput" autocomplete="off" autofocus>


    <fieldset>
        <label for="genderInput">Gender</label>
        Male: <input type="radio" value="0"  name="genderInput" id="">
        Female: <input type="radio" value="1" name="genderInput" id="">
    </fieldset>


    <label>Body Mass Input</label>
    
    
    <input type="text" name="bmiInput" autocomplete="off">
    <a href="/bmiCalc">Don't know your BMI?</a>


    <label>Number Of Children</label>
    <input type="text" name="nocInput" autocomplete="off">


    <label>Do you smoke?</label>
    Yes :<input type="radio" value="1 "name="smokeInput" id="">
    No  :<input type="radio" value="0" name="smokeInput" id="">
    <button type="submit">submit</button>
</form> -->