<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hospital</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Notable&family=Prompt:wght@600&display=swap');

        body {
            color: white;
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url("/pics/form-bg.png") center no-repeat;
            background-size: cover;
            
            font-family: "Darker Grotesque", sans-serif;
            /* text-align: center; */
        }

        button {
            margin: 3rem 15rem;
            text-decoration: none;
            color: black;
            background-color: white;
            padding: 0.5rem 2rem;
            border: none;
            outline: none;
            border-radius: 1.5rem;
            font-family: "Prompt", sans-serif;
            font-size: large;
            transition: all 0.25s ease-in-out;
        }

        input,
        select {
            margin: 1rem 0;
            width: 50%;
            color: white;
            padding: 0.5rem 1rem;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid white;

        }

        input:hover,
        select:hover {
            border-bottom: 2px solid #a264f3;
            transition: all .5s ease-in-out;
        }
        select option{
            font-weight: 900;
        }

        ::placeholder{
            color: rgb(184, 169, 169);
            font-weight: 900;
        }
        option {
            background: #252525;
        }

        a:hover,
        button:hover {
            transition: all 0.25s ease-in-out;
            box-shadow: 5px 5px 3px #6A679E;
        }

        .container {
            margin-top: 1rem;
            backdrop-filter: blur(50px);
            padding: 5rem ;
            overflow: hidden;
        }

        h2 {
            margin: 0rem 0;
            
        }

        svg {
            position: relative;
            top: 2rem;
            left: 5rem;
            width: 2rem;
        }
        label{
            font-size: x-large;
        }
        
    </style>

</head>

<body>

    <div class="container">
        <h2>Your estimated insurance amount is:</h2> <br>

        <h2 >
            <% estimate = Math.round(estimate) %>
            <%= estimate %>
        </h2>
        <h3>
            Select the City you want to get get treated
        </h3>
        <form method="post" action="/info">
            <div><select name="city" id="city">
                    <option value="">City</option>
                    <option value="chennai">Chennai</option>
                    <option value="delhi">Delhi</option>
                </select></div> <br>
            <div>
                <label for="treatment">What do you want to get treated for ? </label>
                
                <input type="text" id="treatment" placeholder="Liver transplant">
            </div>
            <div>
                <button type="submit" cursor="pointer">Search</button>
            </div>
        </form>


    </div>

</body>


</html>