<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HumaCare</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/home.css">
    <style>
    </style>

</head>
<body>
    
    <h1>Humacare</h1>
    <h3>Find the best hospitals for your needs</h3>
    <button type="submit"><a href="/login">Use Application</a></button>

</body>
</html>