*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("/public/pics/form-bg1.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    margin: 5rem;
}