*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../pics/form-bg1.png") no-repeat ;
    background-size: cover;
}
form{
    /* background-color: r; */
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}